
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kathy Lau</title>
    <link rel="shortcut icon" href="">
		<link rel="stylesheet" href="static/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
		<script src="https://use.fontawesome.com/132ba586d8.js"></script>
	</head>
	<body>
<div class="text">
	<div class="hide container" id="aboutme">

			<div class="header">
				<h2>~ <a href="/">home</a> ~ </h2>
			</div>
			<img src="static/img/background.jpg" class="all" width="40%" align="right" style="margin: 30px 0px 30px 30px; border-radius:100%"/>

			<p>Hey there!</p>
			<p>I'm Kathy, a freshman at Columbia University's School of Engineering. I am majoring in computer science, and I would love to work with you. </p>

      <p>My favorite color is  <b style="color: #0047ab">cobalt blue</b> (hex: #0047ab)</p>
      <br><br>
      <br><br><br>

      <p><img src="static/img/yoda.jpg" class="all" width="50%" align="right" style="margin: 30px 0px 30px 30px; "/> My favorite picture is Yoda standing on top of Luke during his Jedi training in Empire Strikes Back </p>
      <br><br>
      <br><br>
      <br><br>
      <br><br><br>
      <hr>
      <center>
      <p>Feel free to contact me through any of the links below!</p>
			<div class="buttons">
				<a href="mailto:sl4237@columbia.edu" class="button">
					<i class="fa fa-envelope fa-4x fa-fw" aria-hidden="true"></i>
				</a>
				<a href="https://github.com/KathyLau" class="button">
					<i class="fa fa-github fa-4x fa-fw" aria-hidden="true"></i>
				</a>
				<a href="https://www.linkedin.com/in/kathy-lau-251hknyc/" class="button">
					<i class="fa fa-linkedin-square fa-4x fa-fw" aria-hidden="true"></i>
				</a>
        </center>
			</div>
		</div>
</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	</body>
</html>
